# Created by .ignore support plugin (hsz.mobi)
/spring-boot-microservices/currency-conversion-service/.gradle/
/spring-boot-microservices/eureka-server-config/.gradle/
/spring-boot-microservices/forex-service/.gradle/
/.idea/
